# node specific
node_modules/
npm-debug.log

# project specific
coverage/
test/web-platform-tests/
lib/*.json
lib/TextEncoder.js
lib/TextDecoder.js
lib/TextDecodeOptions.js
lib/TextDecoderOptions.js
lib/utils.js
live-viewer/whatwg-encoding.js
out/
